.container-main {
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.weekday {
  border: 2px solid black;
  padding: 10px;
  width: 70px;
  text-align: center;
  font-size: 12px;
}

.weekday:hover {
  background-color: gray;
  cursor: pointer;
}

.button {
  border: 2px solid black;
  font-weight: 600;
  padding: 10px;
  width: 150px;
  box-shadow: 15px;
  background-color: white;
}

.button:hover {
  background-color: #95bcf2;
  color: black;
}

.buttondiv {
  margin-top: 15px;
}

table {
  border: 2px solid black;
  width: 700px;
}

thead {
  background-color: darkgray;
}

tbody tr:nth-child(odd) {
  background-color: lightgray;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.modal {
  place-content: 0;
  border: 1px solid black;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.table-row {
  display: flex;
  justify-content: space-between;
}

.white {
  background-color: white;
}

.black {
  background-color: rgb(60 60 60 / 50%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}

.popup {
  background-color: white;
  width: 400px;
  height: 300px;
}
