.container-main {
  display: flex;
  width: 1200px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.week {
  display: flex;
}

.weekday {
  border: 2px solid black;
  padding: 10px;
}

.button {
  border: 3px solid black;
  font-weight: 600;
  padding: 10px;
  width: 150px;
  box-shadow: 15px;
}
